* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(12, 141, 33);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 400px;
  background-color: aquamarine;
  height: auto;
  margin: 100px;
  padding: 24px;
  border-radius: 8px;
}

.header,
.update {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}

h2 {
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 800;
}

input {
  width: 250px;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
  border: none;
  font-size: 14px;
  text-indent: 4px;
}

button {
  height: 40px;
  border-radius: 0px 8px 8px 0px;
  border: none;
  font-size: 14px;
  text-indent: 4px;
  background-color: black;
  color: aliceblue;
}

.update,
.list-of-items {
  margin-top: 16px;
}

ul {
  list-style: none;
}

li {
  background: black;
  color: aliceblue;
  width: 300px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.left > span {
  background-color: aliceblue;
  font-size: 14px;
  height: 20px;
  width: 30px;
  border-radius: 4px;
  margin-left: 30px;
}
